/* Imports */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

/* Modifie some properties of third-party's classes */
.container{
    margin-top: 20px;
    margin-bottom: 20px;
}

.custom-control-label::before{
    border: #007bff solid 1px;
}

.custom-control-label::before ,.custom-control-label::after{
    left: -15px;
}

.fa-trash-alt{
    color: rgb(245, 27, 27);
}

.fa-edit{
    color: #62a0df;
}

.fa-star{
    color: #62a0df;
}

/* Some Classes */
.todo-container{
    margin-top: 10px;
    position: relative;
}

.todo-container .row:last-child{
    border-bottom: 1px solid #0062cc !important;
    border-bottom-left-radius: 0.25em !important;
    border-bottom-right-radius: 0.25em !important;
}

.todo-title{
    font-size: 1.2em;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    color: #313131;
    user-select: none;
}

.pt{
    padding-top: 10px !important;
}

.plus{
    font-size: 15px;
    width: 40px;
    height: 40px;
}

.icon{
    cursor: pointer;
}

.row{
    margin: 0;
}

.hide{
    opacity: 0;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    color: #fff;
    background-color: #fff;
    border-color: #007bff;
}

.custom-control-input:not(:disabled):active:checked ~ .custom-control-label::before {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}