/* Imports */
@import url('https://fonts.googleapis.com/css?family=Roboto:500');

/* Modifie some properties of third-party's classes */
.custom-control-label::before{
    border: #007bff solid 1px;
}

.custom-control-label::before ,.custom-control-label::after{
    left: -15px;
}

.fa-trash-alt{
    color: rgb(245, 27, 27);
}

.fa-edit{
    color: #62a0df;
}

.fa-star{
    color: #62a0df;
}

/* Some Classes */
.container:last-child{
    border-bottom: 1px solid #0062cc;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.todo-container{
    margin-top: 10px;
}

.todo-title{
    font-size: 1.2em;
    font-family: Roboto, sans-serif;
    color: #313131;
    user-select: none;
}

.pt{
    padding-top: 10px !important;
}

.plus{
    font-size: 15px;
    width: 40px;
    height: 40px;
}

.icon{
    cursor: pointer;
}
